# Entorno y caches
.venv/
__pycache__/
.pytest_cache/
*.py[cod]

# Archivos temporales/IDE
.DS_Store
.idea/
.vscode/

# Artefactos de audio de prueba
*.wav

# Script local
packaging/build_all.sh

# Releases locales
releases/
packaging/build_deb.sh
