[Desktop Entry]
Name=ToneFinish
Comment=Audio finisher con analisis y normalizacion
Exec=tonefinish
Icon=com.sabe.ToneFinish
Terminal=false
Type=Application
Categories=Audio;AudioVideo;
